<h2>Frequently Asked Questions</h2>
<br />
<h3>Student Questions</h3>
<br />
<h4></h4>
<br />
<h3>Teacher Questions</h3>
<br />
<h4>Why am I able to delete some slots but not all?</h4>
<p>A slot is not able to be deleted if a student is booked into it.</p>