<h2>Frequently Asked Questions</h2>
<br />
<h3>Student Questions</h3>
<br />
<h4>Why do some slots not have an option to book the slot?</h4>
<p>That is because you are only allowed one booking per day and you already have a slot booked for that day</p>
<br />
<h3>Teacher Questions</h3>
<br />
<h4>Why am I able to delete some slots but not all?</h4>
<p>A slot is not able to be deleted if a student is booked into it.</p>